@model ASP_NET_MVC_CRUD.Models.Home.Page2Model
@{
    //Layout = null;
}

<p>Form</p>

@using (Html.BeginForm())
{

    @Html.LabelFor(x => x.FirstName)
    @Html.TextBoxFor(x => x.FirstName)


    @Html.LabelFor(x => x.LastName)
    @Html.TextBoxFor(x => x.LastName)

    @Html.LabelFor(x => x.Age)
    @Html.TextBoxFor(x => x.Age)

    <input type="submit" value="Salvar Form" />

    <p>@ViewBag.Result</p>
}